body {
  /*background: lightblue;*/
  background: #FFFFFF;
}
h1{
  border: 1px dashed red;
}
li{

}
.Guang {
  color: red;
  border-bottom: 2px dotted #00884F;
}

#leftnavigation{
  text-dercoration: line-through;
}

#profileimage{
  text-align: center;
}

.divider{
  border-style: dashed;
  border-color: red;

}

a{
  text-decoration: none;
}
a:hover{
  background: black;
  color: white
}
