/*font-family: 'Libre Barcode 39 Text', cursive;
  font-family: 'Staatliches', cursive;*/
address {
  color: blue;
}

b {
  color: red;
}

body {
  /*background: lightblue;*/
  background: #FFFFFF;
}

h1 {
  font-family: 'Staatliches', cursive;
}

li {}

.subtitle {
  color: blue;
}

.body {
  color: #66CCFF;
}

#profileimage {
  text-align: center;
}

#name {
  text-align: center;
}

#student {
  text-align: center;
}

#address {
  text-align: center;
}

#selfintor {
  text-align: center;
}

a {
  color: lightblue;
  text-decoration: none;
}

a:hover {
  background: black;
  color: white
}

#bottom {
  border-bottom: solid;
  border-bottom-style: groove;
  border-bottom-width: 2em;

}
