/* .article1{ grid-template-columns: 1fr 2fr;} */
main {
  display: block;
  width: 960px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: #FFFFFF;
}

.article1 {
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}

#smallmargin{
  margin-top: 10px;
}

.flags img {
  height: 400px;
}

.flag{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
}

.mobileflag{
  display: none;
}

.governer{
  grid-template-columns: 1fr 1fr 1fr 1fr 0.9fr;
}

.politic{
  margin-top: 40px;
}

.dragoon{
  grid-template-columns: 2fr 1fr;
}

.image img{
  max-width: 300px;
}

.image{
    grid-template-columns: 1fr 1fr 1fr;
}

.rightcolumn {
  display: block;
  min-height: 100px;
  width: 300px;
  float: right;
  padding: 10px;
  margin-right: 10px;
}

.leftcolumn {
  display: block;
  min-height: 100px;
  width: 400px;
  float: left;
  margin-left: 10px;
}

/* .article3 img {
  max-width: 100%;
} */

.article3 div {
  padding: 20px;
}

nav ul {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
