/* .article1{ grid-template-columns: 1fr 2fr;} */
.article1 {
  grid-template-columns: 7fr 1fr 7fr;
  padding: 10px;

}
.article3 img { max-width: 100%; }
.article3 div { padding: 5px;}

nav ul { grid-template-columns: 1fr 1fr 1fr;}
